:root {
  --main-color: #6750a7;
  --background: #9f86e6;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.wrapper {
  padding: 8px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background-color: var(--main-color);
}
img {
  width: 100%;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.btn-info {
  padding: 10px;
  border: none;
  background-color: var(--background);
  width: 100px;
  border-radius: 50px;
  cursor: pointer;
}
.btn-info:hover {
  background-color: #592ca0;
}
.btn-info a {
  color: var(--white);
}
